ai-edge-litert==2.1.0
numpy==2.0.2
onnx-graphsurgeon==0.5.8
onnx==1.19.1
onnx2tf==1.28.8
onnxruntime==1.23.2
onnxsim-prebuilt==0.4.36.post1
opencv-python==4.12.0.88
sng4onnx==1.0.4
tensorflow==2.19.1
tf-keras==2.19.0
